html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

@font-face {
  font-family: "Quicksand";
  src: "../assets/fonts/Quicksand-Light.woff2" format("woff2"), "../assets/fonts/alternative/Quicksand-Light.woff" format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: "../assets/fonts/Quicksand-SemiBold.woff2" format("woff2"), "../assets/fonts/alternative/Quicksand-SemiBold.woff" format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ABeeZee";
  src: "../assets/fonts/ABeeZee-Regular.woff2" format("woff2"), "../assets/fonts/alternative/ABeeZee-Regular.woff" format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  background-color: #010B19;
}
@media only screen and (min-width: 768px) {
  .navbar {
    width: 180px;
    height: 100vh;
    position: fixed;
  }
}
.navbar__accent {
  display: flex;
  justify-content: center;
  background-color: #09ED92;
}
@media only screen and (min-width: 768px) {
  .navbar__accent {
    width: 180px;
    height: 80px;
  }
}
.navbar__iconPholder {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar__icon {
  margin: -15px 0px 0px -13px;
}
.navbar-list {
  margin-top: 100px;
}
@media only screen and (min-width: 768px) {
  .navbar-list {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.navbar-list__link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  margin: 0px 0px 10px 30px;
}
.navbar-list__link-item--highlight {
  color: #9AECCB;
}
.navbar-list__link-accent {
  display: none;
}
.navbar-list__link-accent--highlight {
  display: block;
  width: 10px;
  height: 25px;
  border-radius: 4px;
  background-color: #9AECCB;
  justify-self: flex-end;
}/*# sourceMappingURL=PageHeader.css.map */