// Primary Colors
$color-primary-Black: #010B19;
$color-primary-Green: #09ED92;
$color-primary-White: #ffffff;

// Secondary Colors
$color-secondary-lightGreen: #9AECCB;
$color-secondary-darkGreen: #3A7743;
$color-secondary-orange: #F95738;

// background
$color-background-darkGrey: #202934;



