@use '../../style/global' as *;

.wrapperRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.recipe {
    background-color: $color-primary-Black;
    width: 80%;
    border-radius: 12px;
    box-shadow: 5px 10px #0000004a;
    margin-bottom: 4rem;
    margin-top: 5rem;
    &-header {
        width: 100%;
        border-radius: 12px;
        height: 15rem;
        background-image: url("../../assets/img/pexels-daria-shevtsova-1095550.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-preview {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            @include font-header;
            color: $color-primary-White;
            margin: 2rem;
        }
        &-subheader {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__author {
                @include font-subheader;
                color: $color-primary-White;
            }
            &__badge {
                color: $color-primary-Green;
                margin-left: 1rem;
            }
        }
    }
    &-ingredients {
        margin: 2rem 0rem;
        margin-left: 4rem;
        &__title {
            padding-top: 1.5rem;
            @include font-subheader;
            color: $color-primary-White;
        }
        &-list {
            margin-left: 3rem;
            color: $color-primary-White;
            margin-top: 1rem;
            list-style-type: square;
            &__item {
                @include font-body;
                line-height: 2.2rem;
            }
        }
    }
    &-steps {
        margin: 2rem 0rem;
        margin-left: 4rem;
        &__title {
            padding-top: 1.5rem;
            @include font-subheader;
            color: $color-primary-White; 
        }
        &-list {
            margin-left: 3rem;
            color: $color-primary-White;
            margin-top: 1rem;
            list-style-type: decimal;
        
            &__item {
                @include font-body;
                line-height: 2.2rem;
            }
        }
    }
    &-footer {
        @include font-subheader;
        color: $color-primary-White;
        text-align: center;
        margin: 4rem;
    }
    &-buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 4rem;
        &__save {
            margin-right: 3rem;
            background-color: $color-secondary-orange;
            color: $color-primary-White;
            border: none;
            padding: 1rem;
            border-radius: 3rem;
            @include font-subheader;
        }
        &__cancel {
            margin-right: 3rem;
            background-color: $color-secondary-lightGreen;
            color: $color-primary-Black;
            border: none;
            padding: 1rem;
            border-radius: 3rem;
            @include font-subheader;
        }
    }
}